<!-- Este Div es para que el header no oculte el slider -->
<div class="espacioHeader"></div>

<div class="fondo">
  <div class="justify-content-center row">
    <h2>Castle's Plans</h2>
  </div>
  <div class="justify-content-center row">
    <div class="planes_texto">
      <p> Inicia un viaje CASTLE, descubre como puedes aumentar tu fuente de poder.
        Por el camino te encontrarás con diferentes personajes que te ayudarán en
        tu misión y en la aventura que será invertir y descubir tan preciado tesoro en el interior de CASTLE.
      </p>
      <br>
    </div>
  </div>
  <div class="container_planes justify-content-md-center">

    <div class="card-deck row justify-content-center tarjetaPlanes">
      <div class="card row justify-content-md-center md-5 tarjetas">
        <h2 class="card-title">Plebey@</h2>
        <img src="../../../assets/img/planes_free.png" class="card-img-top justify-content-md-center" alt="...">
        <div class="card-body">

          <p class="card-text">Si eres un Plebeyo CASTLE descubriras el tesoro al interior con 30 min de fuente de
            poder.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Acceso al catálogo</li>
          <li class="list-group-item">30 minutos gratis por día</li>
          <li class="list-group-item">Anuncios</li>
        </ul>
        <div class="card-body">
          <button type="button" class="btn btn-outline-warning" *ngIf="varCambiar != 'ROLE_REY'||'ROLE_PLEBEYO'" data-toggle="modal" data-target="#ModalCenterReg">SUSCRÍBETE</button>
        </div>
      </div>
      <div class="card">
        <h2 class="card-title">Rey o Reina</h2>
        <img src="../../../assets/img/planes_money.png" class="card-img-top" alt="...">
        <div class="card-body">

          <p class="card-text">Si eres un Rey CASTLE descubrirás el tesoro al interior con infinitos minutos de fuente
            de poder.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Lista de favoritos</li>
          <li class="list-group-item">Reproducción ilimitada</li>
          <li class="list-group-item">Sin anuncios</li>
        </ul>
        <div class="card-body">
          <button type="button" data-toggle="modal" data-target="#exampleModalCenter"
            class="btn btn-outline-warning" *ngIf="varCambiar == 'ROLE_PLEBEYO'">SUSCRÍBETE</button>
        </div>
      </div>
    </div>
  </div>
  <div class="planes_modal">
    <div class="modal fade" id="ModalCenterReg" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Registro de usuario</h5>
            
          </div>
          <div class="modal-body">
            
            <form #loginForm="ngForm" (ngSubmit)="registrar()" ngNativeValidate>
              <h2 class="mainTitle">¡Regístrate!</h2>
              <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="Nombre" #nombre="ngModel" name="nombre"
                      [(ngModel)]="usuario.nombre" required>
              </div>
              <div class="row">
                  <div class="form-group col-sm">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" #correo="ngModel" name="correo"
                          [(ngModel)]="pri_correo" required>
                  </div>
                  <div class="form-group col-sm selectCorreo">
                      <label for="sel1"></label>
                      <select class="form-control selectCorreo" id="sel1" #correo="ngModel" name="correo"
                          [(ngModel)]="sec_correo" required>
                          <option value="@gmail.com">@gmail.com</option>
                          <option value="@outlook.com">@outlook.com</option>
                          <option value="@hotmail.com">@hotmail.com</option>
                          <option value="@yahoo.com">@yahoo.com</option>
                      </select>
                  </div>
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" #password="ngModel"
                      name="password" [(ngModel)]="usuario.password" required>
              </div>
              <div class="input-group selectorGenero">
                  <div><input type="radio" value="Dama" name="genero" #genero="ngModel" [(ngModel)]="usuario.genero"> </div>
                  <div>
                      <p>Dama</p>
                  </div>
                  <div><input type="radio" value="Caballero" name="genero" #genero="ngModel" [(ngModel)]="usuario.genero"> </div>
                  <div>
                      <p>Caballero</p>
                  </div>
              </div>
              <div class="checkPrivacidad">
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Acepto la Política de Privacidad</label>
                  </div>
              </div>
              <button type="submit" class="btn btn-outline-warning btn-registro">ENTRAR A LA COMUNIDAD</button>
              <div *ngIf="registroCorrecto" class="alert alert-success">
                  {{registroCorrecto}}
              </div>
          </form>          </div>
          </div>
      </div>
    </div>
  </div>
  <br>
</div>
<br>