<div class="fondo">
    <h2>Castle´s Plans</h2>
    <div class="planes_texto">
    <b>Sumérgete en la experiencia CASTLE los planes ofrecidos para que hagas una inmersión en el maravilloso mundo y el contenido de CASTLE</b>
    <br>
    </div>
    <div class="container_planes justify-content-md-center">
            
    <div class="card-deck row justify-content-center">
    <div class="card row justify-content-md-center " >
            <h2 class="card-title">Plebeyo</h2>
        <img src="../../../assets/img/planes_free.png" class="card-img-top justify-content-md-center" alt="...">
        <div class="card-body">
          
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Acceso al catálogo</li>
          <li class="list-group-item">30 minutos gratis por día</li>
          <li class="list-group-item">Anuncios</li>
        </ul>
        <div class="card-body">
                <button type="button" class="">SUSCRIBETE</button>
        </div>
      </div>
      <div class="card">
            <h2 class="card-title">Rey</h2>
        <img src="../../../assets/img/planes_money.png" class="card-img-top" alt="..."> 
        <div class="card-body">
         
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Lista de favoritos</li>
          <li class="list-group-item">Reproducción ilimitada</li>
          <li class="list-group-item">Sin anuncios</li>
        </ul>
        <div class="card-body">
                <button type="button"  data-toggle="modal" data-target="#exampleModalCenter">SUSCRIBETE</button>
        </div>
    </div>
    </div>
    </div>
    <div class="planes_modal">
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Confirmar pago</h5>
              <a href="https://portal.psepagos.com.co/web/catalogo-pse?utm_source=url_pse&utm_medium=pse&utm_campaign=catalogopse"><button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> </a>
            </div>
            <div class="modal-body">
              <a href="https://portal.psepagos.com.co/web/catalogo-pse?utm_source=url_pse&utm_medium=pse&utm_campaign=catalogopse"></a><img src="../../../assets/planes_pse.jpg" alt="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary">Confirmar pago</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      <br>
    </div>
    <br>
