* {
    font-family: MedievalSharp;
    color: #FFCC33
;
}h2 {  font-size: 2em;
text-align: center;
}b {
font-size: 1em;
text-align: center;
margin-bottom: .5rem;
font-family: 'Roboto', sans-serif;
font-weight: lighter;
}.btn-outline-warning{
    
    background:rgba(255, 255, 255, 0);
    color: black;
}.btn-outline-warning:hover{
    
    color: white;
    background:#FFCC33 ;
}img {
    width: 50%;
}.fondo {
    background-image: url("../../../assets/img/Recurso1.png");
    background-size: cover;
    background-attachment: fixed;
    padding: 1%;
    padding-inline: 1%;
}.container_planes {
   width: 70% ;
   display: flex;
   position: relative;
   left: 15%;
}.card {
    text-align: center;
    background-color: #212529
;
}
.card img {
    position: relative;
    align-self: center;
}.modal-body {
    background-color: #333333
 !important;
}
.modal-body img{
    background-color: #333333
 !important;
    position: relative;
    align-self: center;
}.modal-header {
    
    background-color: #333333
 !important;
}
.modal-footer    {
    
    background-color: #333333
 !important;
}
.planes_texto {
    text-align: center;
    padding-bottom: 5%;
}