/* You can add global styles to this file, and also import other style files */

body {
    background-color: #333333;
}

form {
    background-color: #333333;
    color: #FFCC33;
    padding-top: 20px;
}
.form-control{
    color: white !important;
}
input {
    background-color: #333333 !important;
    border-color: #FFCC33 !important;
}

.btn-outline-warning {
    background-color: #FFCC33;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.btn-outline-warning:hover{
    background-color: #333333 !important;
    border-color: #FFCC33 !important;
    color: white !important;
    font-family: 'Roboto', sans-serif;
}