<div class="container">
    <div class="buttons_menu">
        <button class="btn btn-primary btn-outline-warning" (click)="modificar('1')">Crear película</button>
        <!-- <button class="btn btn-primary" (click)="modificar('1')" *ngIf="usuario.role == 'ROLE_ADMIN'">Crear canciones</button> -->
        <button class="btn btn-primary btn-outline-warning" (click)="modificar('2')">Mi perfil</button>
        <button class="btn btn-primary btn-outline-warning" (click)="modificar('3')">Buscar película</button>
    </div>

<app-user-profile></app-user-profile>
