.homeCastle {
    margin-top: 10%;
}

.formContainer {
    margin-bottom: 0px;
}

.selectorGenero, .checkPrivacidad {
    display: flex;
    justify-content: center;
}

.selectorGenero p {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.selectCorreo select {
    border-color: #FFCC33 !important;
    background-color: #333333 !important;
    margin-top: 8px;
    color: #FFCC33;
}

.btn-registro {
    margin-left: 20%;
}

.mainTitle {
    font-family: MedievalSharp;
    font-size: 2em;
    text-align: center;
    color: #FFCC33;
    padding: 10px;
}

.textIntro {
    text-align: center;
    background-color: #333333;
    border: none;
}

.card-body {
    background-color: none;
    border-color: #333333 !important;
    color: white;
}

.fixed-bottom {
    left: 1200px;
    max-width: 120px;
    max-height: 350px;
}

.fixed-bottom img {
    display: block;
    max-width: 120px;
    margin-top: 80%;
    margin-bottom: 40px;
    margin-left: 90%;
    float: right;
}

.avatarForm {
    padding: 0px;
    margin: 0px;
}

.avatarForm img {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
}

.videoContainer {
    background-image: url("../../../assets/img/Recurso1.png");
    background-size: cover;
    background-attachment: fixed;
    padding: 5%;
}

.promoH3 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
}

.promoH4 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 2.5em;
    text-align: center;
}

.promoParrafo {
    font-family: 'Roboto', sans-serif;
    color: #FFCC33;
    font-size: 1.3em;
    text-align: center;
}

.faqContainer {
    padding: 3%;
    padding-bottom: 5%;
}

.faq {
    max-width: 60%;
    min-width: 60%;
    justify-content: center;
}

.faqAcordeon {
    font-family: 'Roboto', sans-serif;
    background-color: #333333 !important;
    border: 1px solid #FFCC33 !important;
}

.faqAcordeon p {
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.accordion .flechaAcordeon {
    float: right;
    margin-top: 8px;
    color: #FFCC33;
}

.accordion .preguntaAcordeon {
    text-decoration: none;
    align-content: center;
    color: #FFCC33;
}

.preguntaAcordeon {
    margin: 0px;
    padding: 0px;
    max-width: 80%;
}

.btn-promo {
    margin-left: 35%;
}

.textoSlider, .slider-text {
    text-shadow: 1px 1px #333333;
}

@media screen and (min-width:1000px) {}

@media screen and (max-width:1000px) {
    .avatarForm {
        display: none;
    }
    .btn-promo {
        margin-left: 27%;
    }
    .promoH3 {
        margin-top: 20px;
        font-size: 2.5em;
    }
    .promoH4 {
        font-size: 2em;
    }
    .promoParrafo {
        font-size: 1em;
    }
    .espacioHeader {
        height: 80px;
    }
}

@media screen and (max-width:750px) {
    .avatarForm {
        display: none;
    }
    .btn-promo {
        margin-left: 27%;
    }
    .promoH3 {
        margin-top: 20px;
        font-size: 2.5em;
    }
    .promoH4 {
        font-size: 2em;
    }
    .promoParrafo {
        font-size: 1em;
    }
    .faqAcordeon p {
        font-size: 0.9em;
    }
    .btn-registro {
        margin-left: 20%;
    }
}