<!-- Aquí inicia el slider promocional -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner carousel_h">
        <div class="carousel-item">
            <img src="../../../assets/img/cederic-x-21DP3hytVHw-unsplash.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4>¿Tienes ganas de escuchar algo?</h4>
                <p class="slider-text">Descubre una nueva experiencia musical</p><button type="button"
                    class="btn btn-dark">Dark</button>
                <!--               <i class="fas fa-chevron-down"></i> -->
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/img/photo-1570610155223-66279ba81b41.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4>¿Tienes ganas de escuchar algo?</h4>
                <p class="slider-text">Descubre una nueva experiencia musical</p>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
        <div class="carousel-item active">
            <img src="../../../assets/img/hobbit.png" class="d-block w-100" alt="musica-rosa">
            <div class="carousel-caption d-none d-md-block">
                <h4>¿Tienes ganas de escuchar algo?</h4>
                <p class="slider-text">Descubre una nueva experiencia musical</p>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Aquí inicia el formulario -->

<!--  <div class="col-12">
            <div class="card">
                <div class="card-body textIntro">
                    <h5 class="card-title formTitle">¡Bienvenido a BIT Music!</h5>
                    <p class="card-text">Disfruta de tu música favorita creando tus propias listas de
                        reproducción.</p>
                </div>
            </div>
        </div> -->
<div class="container">
    <div class="row align-items-end">
        <div class="col-sm avatarForm">
            <img src="../../../assets/img/women_thanks.png" alt="">
        </div>
        <div class="col-sm">
            <form #loginForm="ngForm" (ngSubmit)="registrar()" ngNativeValidate>
                <h2 class="mainTitle">¡Regístrate!</h2>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="Nombre" #nombre="ngModel" name="nombre"
                        [(ngModel)]="usuario.nombre" required>
                </div>
                <div class="form-group">
                    <label for="edad">Edad</label>
                    <input type="number" class="form-control" id="edad_form" name="edad" #edad="ngModel"
                        [(ngModel)]="usuario.edad" required>
                    <small id="edadHelp" class="form-text text-light">Ingresa tu edad en años</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" #correo="ngModel" name="correo"
                        [(ngModel)]="usuario.correo" required>
                    <small id="emailHelp" class="form-text text-light">No compartiremos tu email con nadie.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" #password="ngModel"
                        name="password" [(ngModel)]="usuario.password" required>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Acepto la Política de Privacidad</label>
                </div>
                <button type="submit" class="btn btn-outline-warning">ENVIAR</button>
                <div *ngIf="registroCorrecto" class="alert alert-success">
                    {{registroCorrecto}}
                </div>
            </form>
        </div>
        <div class="col-sm avatarForm">
            <img src="../../../assets/img/manForm1.png" alt="">
        </div>
    </div>

    <br>
</div>
<div class="videoContainer">

    <!-- Aquí inicia la sección con vídeo y texto -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="mainTitle">ESTRENO ÚLTIMA TEMPORADA</h2>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-6">
                <h3 class="promoH3">SOLO POR HOY</h3>
                <h4 class="promoH4">$29.999 3/meses</h4>
                <p class="promoParrafo">TUS SERIES Y PELÍCULAS FAVORITAS</p>
                    <a href="#" class="btn btn-outline-warning">REGÍSTRATE YA</a>
            </div>
        </div>
    </div>
</div>


<!-- Aquí inicia sección FAQ con botones desplegables forma de acordeón -->
<div>
    <div class="row">
        <div class="col-12">
            <h2 class="mainTitle">¡Regístrate!</h2>
        </div>
        <div>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Collapsible Group Item #1
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard
                            of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Collapsible Group Item #2
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard
                            of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Collapsible Group Item #3
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard
                            of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>