<div class="card mb-3 " >
    <img src="../../../assets/logo1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">¿Quienes Somos?</h5>
      <p class="card-text">CASTLE es la última experiencia en servicios de streaming de video personalizado, con una oferta variada de
        películas y series del género medieval-fantástico.        Acostumbrados a innovar, NN S.A.S. apuesta a una propuesta disruptiva ofreciendo el servicio de streaming de
        vídeo con contenido temático, una oferta de películas y series del género fantástico: mundos mágicos,
        criaturas hermosas, universos medievales, luchas por la supervivencia.        Para ello, VIP Zone se convertirá en su aliado para hacer realidad el diseño y desarrollo de un sitio web
        que brinde al usuario la última experiencia en streaming, con oferta de contenido personalizada. En este
        caso, el usuario suscriptor tendrá la oportunidad de acceder a contenido de manera gratuita pero limitada.
        En caso de mejorar su plan, el usuario denominado Premium podrá ver todo el contenido que quiera, sin
        restricciones de tiempo o publicidad.</p>
    </div>
