<!-- <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Registrarse</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/quienes">¿Quiénes somos?</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/planes">Planes</a>
  </li>
</ul> -->
<!-- 

  
<div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <div class="logoCastle">
      <a [routerLink]="['']" class="navbar-brand mr-3"> <img src="../../../assets/logo.png" alt="" width="40%"></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
    </div>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a href="#" class="nav-item nav-link active">Home</a>
              <a href="#" class="nav-item nav-link">Services</a>
              <a href="#" class="nav-item nav-link">About</a>
              <a href="#" class="nav-item nav-link">Contact</a>
          </div>
          <div class="navbar-nav ml-auto">
            <a [routerLink]="['/login']" class="ml-auto" *ngIf="!usuarioLogueado">
              <button type="button" class="btn btn-outline-warning">Iniciar Sesión</button>
            </a>
          </div>
      </div>
  </div>    
</nav>
</div> -->