<div class="row">
  <div class="col-7">
      <h1>PELICULAS</h1>

      <h2 class="title">{{video.titulo}}</h2>
      
      <button type="button" class="btn btn-outline-warning">AÑADIR A FAVORITOS</button>
      
      <div class="embed-responsive embed-responsive-16by9  video">
          <video autoplay controls loop class="embed-responsive-item">
              <source src="../../../assets/Game of Thrones _ Season 8 _ Official Trailer (HBO).mp4" type="video/mp4">
          </video>
      </div>
  </div>
  <div class="col-5">
     
          <h3>SINOPSIS</h3>
          
          <p class="parrafo">{{video.sipnosis}}</p>
          
          
          <div>
              <div class="row justify-content-center faqContainer">
                  <div class="col-12">
                      <h2 class="mainTitle">TEMPORADAS</h2>
                  </div>
                  <div class="faq">
                      <div class="accordion" id="accordionExample">
                          <div class="card">
                              <div class="card-header faqAcordeon" id="headingOne">
                                  <button class="btn btn-link preguntaAcordeon" type="button" data-toggle="collapse"
                                      data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      <p class="acordeonparrafo">Temporada 1</p>
                                  </button>
                                  <button class="btn btn-link flechaAcordeon" type="button" data-toggle="collapse"
                                      data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      <i class="fas fa-angle-down"></i>
                                  </button>
                              </div>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                  data-parent="#accordionExample">
                                <div class="card-body faqAcordeon"><a  href="#">
                                    {{video.capitulo}}
                                  </a>
                              </div>  
                              </div>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                  data-parent="#accordionExample">
                                  <div class="card-body faqAcordeon">
                                      <a  href="#">
                                          capitulo 2
                                       </a>
                                  </div>
                              </div>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                  data-parent="#accordionExample">
                                  <div class="card-body faqAcordeon">
                                      <a  href="#">
                                          capitulo 3
                                       </a>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="card">
                              <div class="card-header faqAcordeon" id="headingTwo">
                                  <button class="btn btn-link preguntaAcordeon" type="button" data-toggle="collapse"
                                      data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                      <p>Temporada 2</p>
                                  </button>
                                  <button class="btn btn-link flechaAcordeon" type="button" data-toggle="collapse"
                                      data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                      <i class="fas fa-angle-down"></i>
                                  </button>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                  <div class="card-body faqAcordeon">
                                      Capitulo 1
                                  </div>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                  <div class="card-body faqAcordeon">
                                      Capitulo 2
                                  </div>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                  <div class="card-body faqAcordeon">
                                      Capitulo 3
                                  </div>
                              </div>  
                          </div>
                          <div class="card">
                              <div class="card-header faqAcordeon" id="headingThree">
                                  <button class="btn btn-link preguntaAcordeon" type="button" data-toggle="collapse"
                                      data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                      <p>Temporada 3</p>
                                  </button>
                                  <button class="btn btn-link flechaAcordeon" type="button" data-toggle="collapse"
                                      data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                      <i class="fas fa-angle-down"></i>
                                  </button>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                  data-parent="#accordionExample">
                                  <div class="card-body faqAcordeon">
                                      Capitulo 1
                                  </div>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                              data-parent="#accordionExample">
                              <div class="card-body faqAcordeon">
                                  Capitulo 2
                              </div>
                          </div> <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                          data-parent="#accordionExample">
                          <div class="card-body faqAcordeon">
                              Capitulo 3
                          </div>
                      </div>
                          </div>
                      </div>
                  </div>
              </div>