<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Temporadas
  </button>
       <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
       <li class="dropdown-submenu">
       <a class="dropdown-item" tabindex="-1" >More options 
        <li class="menú desplegable" role="menu" aria-labelledby="dLabel">
          <a  tabindex="-1" >More options</a> 
        </li>
       </a>
        </li>
       
       <li class="dropdown-submenu">
       <a class="dropdown-item" tabindex="-1" >More options</a>
       </li>
        <li class="dropdown-submenu">
    <a class="dropdown-item" tabindex="-1" >More options</a>
  </li>
</ul>
</div>


<br><br>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>


    <!-- <div  class="embed-responsive embed-responsive-16by9">
      <video autoplay controls loop class="embed-responsive-item">
          <source src="../../../assets/Game of Thrones _ Season 8 _ Official Trailer (HBO).mp4" type="video/mp4">
      </video>
</div>  -->





