.video{
    width: 85%;
    margin-top: 10%;
    margin-left: 5%;
    
}

h1{
    text-align: center;
    color: black;
    margin-right: -57%;
    margin-top: 4%;
   
}
.title{
    margin-left: 9%;
    margin-bottom: -10%;
    padding-top: 4%;
    padding-bottom: 1%;

}
.btn{
    margin-left: 60%;
    margin-bottom: -11%;
 

}
h3{
    margin-top:40% ;
    margin-right: 5%;
}

.parrafo{
    text-align: justify;  
    margin-right: 15%;  
}
.selectCorreo select{
    border-color: #FFCC33 !important;
    background-color: #333333 !important;
    margin-top:-1%;
    color: #FFCC33;

}
.promoParrafo{
    font-family: 'Roboto', sans-serif;
    color: #FFCC33;
    font-size: 1.3em;
    text-align: center;
}
.faqContainer{
    padding: 3%;
    padding-bottom: 5%;
}

.faq{
    max-width: 60%;
    min-width: 60%;
    margin-left: -40%;
}

.faqAcordeon{
    font-family: 'Roboto', sans-serif;
    background-color: #333333 !important;
    border: 1px solid #FFCC33 !important;
    min-width: 60%;
    color:  #FFCC33;
    text-decoration: none;
   /*  max-width: 60%;
    min-width: 60%; */
}
.faqAcordeon a{
    text-decoration: none;
    color:  #FFCC33;
}
.faqAcordeon p {
color: white;

text-align:center;
}

.accordion .flechaAcordeon{
    float: right;
    margin-top: 8px;
    color: #FFCC33;
}
.accordion .preguntaAcordeon{
    text-decoration: none;
    align-content: center;    
    color: #FFCC33;
}
.btn-promo{
    margin-left: 35%;

}

.textoSlider, .slider-text{
    text-shadow: 1px 1px #333333;
}

.selectCorreo{
    border: #FFCC33;
    background-color: #333333;
    margin-top:6px;
}
.preguntaAcordeon{
    text-align: justify;
    margin-left: -5%;
    margin-top: -5%;

}